body{
    margin-top: 50px;
    text-align:center;
    background-color:grey;
}
h1{
    color:blue;
}
.gravatarInput, .sentenceInput, .dateInput{
    padding-left:10px;
    font-size:20px;
    height:40px;
    width: 300px;
}
.gravatarButton, .sentenceButton, .dateButton{
    font-size:1.5em;
    height:45px;
    width: 100px
    background-color:grey;
}
.block, .calcResult{
    width:100%;
    min-height:100px;
    height:auto;
    margin:0 auto;
    background-color:skyblue;
    text-align:center;
}
.firstNum, .secondNum, .operator, .calButton{
    height:40px;
    font-size:20px;

}
.calButton{
    width:30px;
}
.holder{
    background-color:skyblue;
    width:60%;
    margin:0 auto;

}
